*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #F7F7F7;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font: $font-normal 15px/1.5 $font-family;
  font-weight: normal;
  font-style: normal;
  color: $font-color_dark;
}

a {
  transition: color, .2s;
  
  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-weight: normal;
  margin-top: 0;
  font-family: $font-family-deco_medium;
  font-size: 36px;
  margin-bottom: 24px;
  line-height: 40px;
}

h2 {
  font-weight: normal;
  margin-top: 0;
  font-family: $font-family-deco_medium;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}


h3 {
  font-weight: normal;
  margin-top: 0;
  font-family: $font-family-deco_medium;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}


p {
  opacity: 0.85;
  font-size: 15px;
}

p.fs-16 {
  font-size: 16px;
  line-height: 22px;
}

.light {
  font-family: $font-family_light;
  font-size: 13px;
  line-height: 18px;
}

.bold {
  font-family: $font-family_semibold;
}

.medium {
  font-family: $font-family_medium;
}

.green {
  color: $color-green;
  span {
    color: $color-green;
  }
}

.promo-text {
  max-width: 480px;
  margin-bottom: 32px;
}

.uppercased {
  text-transform: uppercase;
}

.line-through {
  text-decoration: line-through;
}

.fs-20 {
  font-size: 20px;
  opacity: 1;
}

.fs-18 {
  font-size: 18px;
  opacity: 1;
}

.bold-deco {
  font-family: $font-family-deco_medium;
  opacity: 1;
}