.accordion {
  width: 100%;
  border-bottom: none;
}

.accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion__btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 32px 30px 32px 0;
  background-color: transparent;
  text-decoration: none;
  color: $color-black;
  transition: all .15s;
  will-change: background-color;
  cursor: default;
  border-top: 1px solid $color-border;

  &:before { /* vertical element */
    content: '';
    display: block;
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    will-change: transform, width;
    transition: all .15s;
    width: 2px;
    height: 36px;
    background-color: $color-black;
    z-index: 1;
  }
  &:after { /* horizontal element */
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    will-change: transform;
    transition: all .15s;
    width: 36px;
    height: 2px;
    background-color: $color-black;
  }
}

.accordion__item_open {

  & .accordion__btn {
    background-color: transparent;
    border-bottom-color: transparent;

    &:before {
      height: 2px;
    }
  }

  & .accordion__content {
    background-color: transparent;
    display: block;
  }
}

.accordion__content {
  display: none;
  padding: 10px 0 20px 0;
  background-color: transparent;
  will-change: height;
   p {
     max-width: 980px;
     font-size: 16px;
     line-height: 20px;
   }
}

.accordion__text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-family: $font-family_semibold;
  left: 0;
  position: absolute;
}

.faq-block {
  .accordion__text.fs-16 {
    font-size: 18px;
  }
}

.tabs__item {
  .accordion__item:first-child {
    .accordion__btn {
      border-top: 0;
    }
  }
}