.catalog {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
    &__item {
      margin-bottom: 32px;
      color: $color-black;
      width: calc(50% - 16px);
      margin-right: 32px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 10px;
      min-height: 210px;
      .left {
        width: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 32px;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        .bottom {
          .subcat {
            font-family: $font-family_light;
            opacity: 0.6;
          }
          .cat_title {
            transition: all 0.2s;
            font-size: 20px;
            line-height: 1.3;
            font-family: $font-family-deco-medium;
            margin-bottom: 6px;
          }
        }
      }
      .right {
        width: 250px;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          transform: scale(1.0);
          transition: all 0.7s ease-in-out;
        }
        &:after {
          position: absolute;
          opacity: 0;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff;
          background-image: url('../img/tuda.svg');
          background-repeat: no-repeat;
          background-position: 57% center;
          -webkit-background-size: 35%;
          background-size: 35%;
          content: '';
          bottom: 20px;
          right: 32px;
          transition: all 0.2s;
        }
      }
      transition: all 0.2s;

      &:nth-child(2n) {
        margin-right: 0;
      }
      &:hover {
        .left .bottom .cat_title {
          color: $color-blue;
          transition: all 0.2s;
        }
        transition: all 0.2s;
        .right {
          &:after {
            right: 20px;
            opacity: 1;
            transition: all 0.5s;
          }
          img {
            transform: scale(1.1);
            transition: all 0.7s ease-in-out;
          }
        }
      }
    }
}

.catalog_link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -125px;
  .cl_link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $color-black;
    text-decoration: none;
    img {
      margin-bottom: 10px;
      width: 28px;
    }
    p {
      font-family: $font-family-deco_medium;
      font-size: 20px;
      max-width: 240px;
      line-height: 24px;
      opacity: 1;
      text-align: right;
    }
    &:hover {
      color: $color-blue;
      img {
        animation: runAwayandTurn 1s forwards;
      }
    }
  }
}

.species_container {
  width: 100%;
  padding-left: 200px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  &__item {
    width: calc(20% - 12px);
    margin-right: 20px;
    &:nth-child(5n) {
      margin-right: 0;
    }
    .sp_slider {
      margin-bottom: 12px;
    }
    .sp_title {
      color: $color-black;
      text-decoration: none;
      font-size: 18px;
      font-family: $font-family-deco_medium;
      &:hover {
        color: $color-blue;
      }
    }
  }
  .sp_slider {
    height: 310px;
    display: block;
    overflow: hidden;
    .sp_img {
      position: relative;
      width: 100%;
      overflow: hidden;
      //&:after {
      //  z-index: 6;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: -webkit-linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0));
      //  background: -moz-linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0));
      //  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(0, 0, 0));
      //}
      img {
        height: 310px;
        width: 100%;
        object-fit: cover;
        display: block;
        position: relative;
      }
      .img_content {
        z-index: 3;
        position: absolute;
        bottom: 40px;
        color: #fff;
        left: 20px;
        p {
          font-size: 16px;
        }
      }
    }
    .slick-prev, .slick-next {
      height: 100%;
      border-radius: 0;
      opacity: 0;
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }

}

.dots-white .slick-dots {
  bottom: 20px;
  left: 20px;
  transform: translateX(0);
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .available {
    position: relative;
  }
}

.item-page {
  .item-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .btn:first-child {
      margin-right: 20px;
    }
  }
  .slider-img {
    margin-bottom: 50px;
  }
  .after-title {
    .page__item_title {
      margin-bottom: 24px;
    }
    h2 {
      margin-bottom: 0;
    }
    .upper_heading {
      margin-bottom: 0;
    }
  }
  .subcatalog {
    display: flex;
    align-items: stretch;
    .catalog__item {
      display: flex;
      min-height: 440px;
      align-items: flex-start;
      justify-content: flex-end;
      margin-bottom: 0;
      &:hover {
        .right {
          img {
            transform: none;
          }
        }
        .bottom {
          .cat_title {
            color: $color-black;
          }
        }
      }
      &:nth-child(3n+3) {
        margin-right: 32px;
      }
    }
  }
}

.slick-dotted.slick-slider .slick-list {
  margin-right: -32px;
}

.item-types {
  margin-bottom: 24px;
  width: 100%;
  h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
}