.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
    .title_container {
      padding-left: 200px;
      padding-top: 20px;
      padding-bottom: 10px;
      position: relative;
      .round_btn {
        z-index: 9;
        right: 10%;
        bottom: -100px;
      }
      h1 {
        max-width: 600px;
        text-transform: uppercase;
      }
    }
  .bc {
    .link span{
      color: #fff;
    }
    .tuda {
      border-color: #fff;
    }
  }
}

.page-service {
  .hero {
    position: relative;
    &:after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: rgba(0, 0, 0, 0.2);
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
      pointer-events: none;
    }
  }
}


.subheading {
  font-family: $font-family;
  opacity: 0.7;
  font-size: 16px;
  max-width: 540px;
  margin-bottom: 20px;
}

.hero_simple {
  .hero__inner {
    padding-bottom: 90px;
  }
}

.hero_image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  pointer-events: none;
  video {
    pointer-events: none;
  }
}