.link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  transition: color, .2s;
  color: $color-black;

  &:hover {
    color: $color-blue;
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_white {
  color: #fff;
  &:hover {
    color: #fff;
    opacity: 0.7;
    text-decoration: underline;
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_blue {
  color: $color-blue;
  text-decoration: underline;
    &:hover {
      color: $color-black;
      text-decoration: none;
    }
}

.social_black {
  span:before {
    color: $color-black;
  }
  &:last-child span:before {
    color: $color-black;
  }
}

