.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  list-style: none;
  padding: 0;

  & li {
    flex: 0 1 auto;
  }

  & li:first-child .nav__link {
    padding-left: 0;
  }

  & li:last-child .nav__link {
    padding-right: 0;
  }

  .nav__link {
    position: relative;
    &:after {
      position: absolute;
      height: 3px;
      bottom: 0;
      left: 0;
      width: 1%;
      opacity: 0;
      content: '';
      transition: all 0.2s;
      background-color: $color-blue;
      will-change: width;
    }
    &:hover {
      &:after {
        opacity: 1;
        width: 100%;
        transition: all 0.2s;
      }
    }
  }
}


.nav__link {
  color: $color-black !important;
  position: relative;
  padding: 22px 0;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  font-family: $font-family_medium;
  &:last-child {
    padding-right: 0;
  }
  span.fa-angle-main {
    position: absolute;
    top: 27px;
    right: 6px;
    width: 8px;
    height: 8px;
    content: '';
    border-right: 2px solid $color-black;
    border-bottom: 2px solid $color-black;
    transform: rotate(45deg);
    transition: transform .2s;
  }
}

.nav__link.active {
  padding-right: 24px;
}

.dropdown_hover {
  padding: 8px 0;
  margin: 0 26px;
  width: fit-content;
  background-color: transparent;
  .dropdown__text {
    background-color: transparent;
    border: none;
    padding: 0;
    color: $color-black;
    font-size: 14px;
    a {
      color: $color-black;
      text-decoration: none;
      font-size: 14px;
    }
    &:after {
      border-color: $color-black;
      right: -16px;
      transform: rotate(45deg);
    }
    &:hover {
      &:after {
        transform: rotate(-135deg);
        top: 24px;
      }
    }
  }
  .dropdown__list {
    top: 100%;
    border-color: $color-border;
    background-color: $color-white;
    width: max-content;
    border-radius: 0;
    .dropdown__item {
      border-radius: 0;
      .link {
        color: $color-black;
      }
    }
  }
}