.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__item {
  @extend .layout-padding;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}



// стили каталога

.page-catalog {
  .hero_image {
    margin-bottom: 32px;
    border-radius: 5px;
    img {
      width: 100%;
      object-fit: cover;
      display: block;
      height: 100%;
    }
  }
  .inner-page {
    margin-bottom: 0;
    h1 {
      margin-bottom: 0;
    }
  }
  .page__item.page-first {
    padding-top: 40px;
  }
  h1 {
    max-width: 700px;
  }

  h2 {
    text-transform: uppercase;
  }
  .lower {
    text-transform: none;
  }
  .text-box {
    padding-left: 200px;
    margin-top: -30px;
    max-width: 80%;
    p {
      opacity: 0.7;
    }
  }
}

.catalog-category {
  margin-bottom: 32px;
}

.page-subheading {
  margin-bottom: 48px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  .left {
    max-width: 600px;
  }
}

.subcatalog {
  width: 100%;
  align-items: stretch;
  .catalog__item {
    flex-direction: column-reverse;
    width: calc(33.3333% - 22px);
    margin-bottom: 32px;
    .right {
      position: relative;
      width: 100%;
      margin-bottom: 8px;
      max-width: 100%;
      &:after {
        display: none;
      }
      .actions {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
          &__item {
            color: #fff;
            padding: 4px 10px;
            background-color: #3D8CD1;
            border-radius: 5px;
            z-index: 2;
            margin-right: 12px;
            font-size: 12px;
          }
        .black {
          background-color: #3D3D3D;
        }
        .red {
          background-color: #7A1F2E;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        display: block;
      }
    }
    .left {
      padding: 0;
      margin-right: 0;
      width: 100%;
    }
    .left .bottom {
      .cat_title {
        font-size: 18px;
      }
      .price {
        margin-top: 16px;
      }
    }
    &:nth-child(2n) {
      margin-right: 32px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}

.available {
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: #74C567;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  span {
    display: block;
    background-color: #74C567;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    content: '';
    margin-right: 5px;
  }
}
.not-available {
  color: #D16577;
  span {
    background-color: #D16577;
  }
}

.price {
  color: $color-blue;
  font-size: 18px;
  font-family: $font-family-deco_medium;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

