.search_body {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.search_container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .item_search {
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 40px;
  }
}

.results {
  ul.list {
    li {
      margin-bottom: 12px;
      a {
        font-size: 16px;
        text-decoration: underline;
        font-family: $font-family_medium;
        color: $color-blue;
        margin-bottom: 4px;
      }
        .light {
          font-size: 14px;
        }
    }

  }
}


.search_container {
  .btn {
    img {
      width: 20px;
      height: 20px;
    }
  }
}

.search_window {
  max-width: 1216px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: all 0.3s;
  &_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
      font-size: 20px;
      font-family: $font-family_semibold;
    }
  }
  .search_container {
    margin-bottom: 0;
    .btn {
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.sw_opened {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
  -webkit-box-shadow: 0 40px 300px 300px rgba(23, 61, 90, 0.3);
  -moz-box-shadow: 0 40px 300px 300px rgba(23, 61, 90, 0.3);
  box-shadow: 0 40px 300px 300px rgba(23, 61, 90, 0.3);
}
