.tabs__item {
  display: none;

  &_active {
    display: block;
  }
}

.tabs {
  width: 100%;
   ul {
    padding-left: 0 !important;
  }
}

.tabs__buttons {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-width: 100%;
    .tabs__btn {
      opacity: 0.7;
      padding: 0 0 16px 0;
      margin: 0 16px 0 16px;
      position: relative;
      font-size: 18px;
      font-family: $font-family-deco;
      cursor: pointer;
        &:first-child {
          margin-left: 0;
        }
    }
}

.tabs__btn_active {
  opacity: 1 !important;
  color: $color-black;
  font-family: $font-family-deco_medium;
  text-decoration: underline;
  &:after {
    width: 100% !important;
    transition: all 0.3s !important;
    opacity: 1 !important;
  }
}

.tabs__item {
  position: relative;
  img {
    width: 100%;
  }
}

.section_tabtext {
  width: 100%;
  p {
    max-width: 1000px;
    opacity: 0.85;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.tabs_block__box {
  width: 100%;
}

.types__tabs {
  .type_container {
    align-items: center;
  }
  .btns_block {
    position: relative;
    &:before {
      pointer-events: none;
      position: absolute;
      right: -1px;
      top: 0;
      width: 25%;
      height: 100%;
      content: '';
      z-index: 2;
      background: -webkit-linear-gradient(270deg, rgba(247, 247, 247, 100%), rgba(86, 181, 184, 0%));
      background: -moz-linear-gradient(270deg, rgba(247, 247, 247, 100%), rgba(86, 181, 184, 0%));
      background: linear-gradient(270deg, rgba(247, 247, 247, 100%), rgba(86, 181, 184, 0%));
    }
  }
  .types-btns {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 20px !important;
    &::-webkit-scrollbar { display: none; }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: auto;
    overflow-y: hidden;
    .tabs__btn {
      margin-right: 60px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      padding-bottom: 0;
      white-space: nowrap;
      opacity: 1;
      .preview {
        margin-right: 12px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
      &_active {
        color: $color-blue;
      }
    }
  }
}

.types-big-container {
  padding-top: 0;
}

.type_way {
  display: none;
}

.visible-type {
  display: block;
}